[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}

.container {
  justify-content: left-aligned;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-template-rows: 0px auto 0px 0px 0px; 
  column-gap: 15px;
  row-gap: 0px;
}
</style>




<div class="section" id="vue-target" v-cloak>
    <h1 class="title">Find an Anime</h1>
    <div>
        <a class="button is-info" href="[[=URL('index')]]">
            <span><i class="fa fa-backward fw"></i> Back </span>
        </a>
    </div>
    <section class="section">
        <div class="form">
            <div class="field">
                <div class="control has-icons-left">
                    <input class="input" placeholder="Insert anime name here" v-model="show">
                    <span class="icon is-large is-left">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="submit" @click="get_search" value="Search" class="button is-primary">
                </div>
            </div>
        </div>

        <br><br>
        <div class="section container">
            [[for res in search:]]
            <div class="card is-horizontal">
                <div class="card-image">
                  <figure class="image is-2by2">
                    <img src="[[=res['poster'] ]]">
                </figure>
            </div>
            <div class="card-content has-text-centered">
               <a href="[[=URL('go_to_search', res['id'])]]">
                  [[=res['name'] ]]
              </a>           
          </div>
      </div>
      <br>
      [[pass]]
  </div>
</div>

[[block page_scripts]]
<script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
    let add_search_url = "[[=XML(add_search_url)]]";
    let delete_search_url = "[[=XML(delete_search_url)]]";
    let refresh_search_url = "[[=XML(refresh_search_url)]]";
    let go_to_search_url = "[[=XML(go_to_search_url)]]";
</script>
<script src="js/browse.js"></script>
[[end]]